body{
    margin: 0;
    padding: 0;
    background-color: red;
    width: 100vw;
}

.app{
    background-color: purple;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}